html {
    background-color: #fff;
}

body {
    width: 335px;
    height: 179px;
}

.functions {
    padding-top: 15px;
}

.function {
    display: flex;
    gap: 7.5px;
    padding-bottom: 15px;
}

.function>div {
    line-height: 24px;
}