@media (prefers-color-scheme: dark) {

    html {
        filter: invert(90%) hue-rotate(180deg) saturate(4);
    }

    img,
    picture,
    video {
        filter: invert(100%) hue-rotate(180deg) saturate(.25);
    }

    a {
        filter: saturate(.25);
    }

    path {
        filter: invert(100%) hue-rotate(180deg) saturate(.5);
    }
}